/* Import Tailwind CSS and Poppins font */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900&display=swap");

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "FashionWacks";
  src: url("/fonts/FashionWacks-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global Design Tokens */
:root {
  /* Colors */
  --background: #d9d9d9;
  --foreground: #232323;

  --bg-primary: var(--foreground);
  --bg-accent-300: #d9d9d9;
  --bg-accent-400: #a0ba9a;
  --bg-accent-500: #c5c5c5;
  --text-primary-300: #232323;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Font Families */
  --ff-poppins: "Poppins", sans-serif;
  --ff-fashionwacks: "FashionWacks", sans-serif;

  /* Font Sizes (in rem units) */
  --fs-200: 0.795rem;
  --fs-300: 0.938rem;
  --fs-400: 1rem;
  --fs-600: 3.125rem;
  --fs-900: clamp(20px, 18vw, 14rem);

  /* Semantic Font Sizes */
  --fs-body: var(--fs-300);
  --fs-nav: var(--fs-300);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0); */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  /* --border: oklch(0.922 0 0); */
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Base Styles */
body {
  background-color: var(--background);
  color: var(--text-primary-300);
  font-size: var(--fs-body);
  font-family: var(--ff-poppins);
}

/* Scrollbar Styling (WebKit browsers only) */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 12px;
}

/* Respect User Preferences for Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.container {
  margin-inline: auto;
  max-width: 1440px;
  width: min(90%, 70.5rem);
}

/* Colors Utilities */
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-accent-300 {
  background-color: var(--bg-accent-300);
}
.bg-accent-400 {
  background-color: var(--bg-accent-400);
}
.bg-accent-500 {
  background-color: var(--bg-accent-500);
}
.text-primary-300 {
  color: var(--text-primary-300);
}

/*Font Family Utilities */
.ff-poppins {
  font-family: var(--ff-poppins);
}
.ff-fashionwacks {
  font-family: var(--ff-fashionwacks);
}

/* Font Weight Utilities */
.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-extrabold {
  font-weight: var(--fw-extrabold);
}

/* Font Size Utilities */
.fs-body {
  font-size: var(--fs-body);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

@media (min-width: 768px) {
  .md\:fs-300 {
    font-size: var(--fs-300);
  }
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-900 {
  font-size: var(--fs-900);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
